<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<body>
    <main>
        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>Shopping Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div th:replace="/layout/_category"></div>
                    </div>

                    <div class="col-md-8">
                        <div th:replace="~{/cart/view :: shopping-cart}"></div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">ORDER PURCHASING</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <div>Purchaser:</div>
                                        <div class="form-control"></div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Order Date:</div>
                                        <div class="form-control">{{order.createDate | date : 'dd-MM-yyyy'}}</div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Email:</div>
                                        <div class="form-control"></div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Order Total:</div>
                                        <div class="form-control">${{cart.amount | number:2}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div>Shipping Address:</div>
                                        <textarea ng-model="order.address" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                
                                <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
                                <button ng-click="order.purchase()" class="btn btn-success">Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>