<div class="single-sidebar">
    <h2 class="sidebar-title">Search Products</h2>
    <form action="#">
        <input type="text" placeholder="Search products...">
        <input type="submit" value="Search">
    </form>
</div>

<div class="single-sidebar">
    <h2 class="sidebar-title">CATEGORY</h2>
    <ul>
        <li th:each="cate:${categories}" >
            <a th:href="@{|/product/list?cid=${cate.id}|}" style="font-size: 32px">
                <i th:class="'fa ' + ${cate.image}" style="width: 32px"></i> &nbsp; &nbsp;[[${cate.name}]]
            </a>
        </li>
    </ul>
</div>